body {
	font-size: 12px;
	font-family: Arial;
}

.hidden {
	display: none;
}

.page {
	width: 1080px;
	margin: 0 auto;
}

div.cartDiv {
	max-width: 1080px;
	margin: 10px auto;
	color: black;
}

div.cartTitle button {
	background-color: #AAAAAA;
	border: 1px solid #AAAAAA;
	color: white;
	width: 53px;
	height: 25px;
	border-radius: 2px;
}

span.cartTitlePrice {
	color: #C40000;
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 3px;
}

div.cartFoot {
	background-color: #E5E5E5;
	line-height: 40px;
	margin: 20px 0px;
	color: black;
	padding-left: 20px;
}

div.cartFoot button {
	background-color: #AAAAAA;
	border: 0px solid #AAAAAA;
	color: white;
	width: 120px;
	height: 50px;
	font-size: 20px;
	text-align: center;
}

img.cartProductItemIfSelected, img.selectAllItem {
	cursor: pointer;
}

span.cartSumNumber {
	color: #C40000;
	font-weight: bold;
	font-size: 16px;
}

span.cartSumPrice {
	color: #C40000;
	font-weight: bold;
	font-size: 20px;
}

/*¶©µ¥Ïî*/
.cartProductList {
	width: 1080px;
}

table.cartProductTable {
	width: 1080px;
	font-size: 12px;
}

.cartProductLinkOutDiv {
	height: 80px;
	position: relative;
}

a.cartProductLink {
	color: #3C3C3C;
}

a.cartProductLink:hover {
	color: #C40000;
	text-decoration: underline;
}

.cartProductLinkInnerDiv {
	position: absolute;
	top: 60px;
}

table.cartProductTable tr {
	border: 1px solid #CCCCCC;
}

table.cartProductTable tr td {
	text-align: center;
	padding: 5px;
}

table.cartProductTable tr td.cartProductLink {
	text-align: left;
}

table.cartProductTable tr th {
	padding: 20px;
}

img.cartProductImg {
	width: 80px;
	height: 80px;
	border: 1px solid #cccccc;
	padding: 1px;
}

th.selectAndImage {
	width: 140px;
	text-align: left;
}

th.operation {
	width: 65px;
}

.cartProductItemOringalPrice {
	text-decoration: line-through;
	display: block;
	color: #9C9C9C;
	font-size: 12px;
	font-weight: bold;
}

.cartProductItemPromotionPrice {
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #C40000;
}

.cartProductChangeNumberDiv {
	position: relative;
	left: 15px;
	width: 100px;
}

.cartProductChangeNumberDiv input {
	position: relative;
	top: -1px;
	height: 18px;
}

.numberMinus {
	position: relative;
	top:-1px;
	margin-right: -3px;
	padding-left:4px;
	padding-right:4px;
}

.numberPlus {
	position: relative;
	right: 0px;
	margin-left: -3px;
	top:-1px;
	padding-left:4px;
	padding-right:4px;
}

.cartProductChangeNumberDiv a {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	width: 20px;
	text-align: center;
	border: 1px solid #cccccc;
	text-decoration: none;
	color: black;
}

.orderItemNumberSetting {
	width: 42px;
	display: inline-block;
}

.cartProductItemSmallSumPrice {
	color: #c40000;
	font-weight: bold;
	font-size: 14px;
}

img.cartProductItemIfSelected, img.selectAllItem {
	cursor: pointer;
}
.cartFoot-right{
	height:40px;
}
.createOrderButtonDiv{
	display:inline-block;
	height:40px;
	background-color: rgb(170, 170, 170);
	position:relative;
	top:-4px;
}